<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>IoT Device Control</title>
<link
  rel="shortcut icon"
  href="/photo/LOGO_DevicesControl3.png"
  type="image/x-icon "
/>
<link href="/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="/bootstrap/dist/js/bootstrap.min.js"></script> -->
<!-- <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
<!-- C:\Users\p8344\Desktop\Iot_devices\node_modules\bootstrap\dist\js\bootstrap.bundle.min.js -->
<script src="/jquery/dist/jquery.slim.min.js"></script>

<!-- C:\Users\p8344\Desktop\Iot_devices\node_modules\bootstrap\dist\js\bootstrap.min.js -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>

<!-- <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IoT Device Control</title>
  <link
    rel="shortcut icon"
    href="/photo/LOGO_DevicesControl3.png"
    type="image/x-icon "
  />
  <link href="/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="/jquery/dist/jquery.slim.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/axios/dist/axios.min.js"></script>
</head> -->
